@media screen and (max-width: 769px) {
    /* .header-flex nav{
        display: block;
    } */
    
:root{
    --comprimentodaView:calc((100vw*7.5));
}


.mostrarMenu{
        left:calc(var(--comprimentodaView)-300px);
        opacity: 1;
}

    main,footer{
        display: none;
    }
    
    #menuNav{
        display: block;
    }

    header nav{
        position: fixed;
        top:60px;
        left: calc(var(--comprimentodaView));
        width: 200px;
        height: 500px;
        /* height: calc(100%-60%); */
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #f9003d;

        opacity: 1;
        transition: right 0.8s opacity 0.5s;
    }

    header nav a{
        border-left: 2px dashed #fff ;
    }


    
}